<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: rgb(0, 141, 138); font-weight: 500"
    >Contatos Manager</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-info">
          <a
            class="nav-link"
            style="color: white"
            (click)="onOpenModal(null!, 'add')"
            >Adicionar Contato <span class="sr-only">(current)</span></a
          >
        </button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        type="search"
        (ngModelChange)="searchContatos(key.value)"
        #key="ngModel"
        ngModel
        name="key"
        id="searchNome"
        class="form-control mr-sm-2"
        placeholder="Procurar contatos..."
        required
      />
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let contato of contatos" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Nome: {{ contato?.nome }}</h5>
              <p class="card-text">Perfil: {{ contato?.perfil }}</p>
            </li>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-envelope float-right"></i>Sigla :
            {{ contato?.siglaComarca }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Comarca :
            {{ contato?.nomeComarca }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Circuito :
            {{ contato?.circuito }}
          </li>
          <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Contato :
            {{ contato?.numero }}
          </li>
        </ul>

        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a
              (click)="onOpenModal(contato, 'edit')"
              class="btn btn-info tooltips"
              data-placement="top"
              data-original-title="Edit"
              ><i class="fa fa-pencil"></i>
            </a>
            <a
              (click)="onOpenModal(contato, 'delete')"
              class="btn btn-secondary tooltips"
              data-placement="top"
              data-original-title="Delete"
              ><i class="fa fa-times"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Contato Modal -->
  <div
    class="modal fade"
    id="addContatoModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addContatoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addContatoModalLabel">
            Adicionar Contato
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddContato(addForm)">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                type="text"
                ngModel
                name="nome"
                class="form-control"
                id="nome"
                placeholder="ex: Rick Astley"
                required
              />
            </div>

            <div class="form-group">
              <label for="perfil">Perfil</label>
              <input
                type="text"
                ngModel
                name="perfil"
                class="form-control"
                id="perfil"
                placeholder="ex: Servidor"
                required
              />
            </div>

            <div class="form-group">
              <label for="siglaComarca">Sigla</label>
              <input
                type="text"
                ngModel
                name="siglaComarca"
                class="form-control"
                id="siglaComarca"
                placeholder="ex: CTJ"
                required
              />
            </div>

            <div class="form-group">
              <label for="nomeComarca">Comarca</label>
              <input
                type="text"
                ngModel
                name="nomeComarca"
                class="form-control"
                id="nomeComarca"
                placeholder="ex: Várzea Grande"
                required
              />
            </div>

            <div class="form-group">
              <label for="circuito">Circuito</label>
              <input
                type="text"
                ngModel
                name="circuito"
                class="form-control"
                id="circuito"
                placeholder="ex: CBA 0465000 (OI) / VAZ054457918A (BRDIGITAL) "
                required
              />
            </div>

            <div class="form-group">
              <label for="numero">Contato</label>
              <input
                type="text"
                ngModel
                name="numero"
                class="form-control"
                id="numero"
                placeholder="ex: (00) 9 99998888 ou 3617-3900"
                required
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                id="add-contato-form"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Fechar
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-info"
              >
                Salvar Alterações
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Editar - Modal -->
  <div
    class="modal fade"
    id="updateContatoModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="contatoEditModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateContatoModalLabel">
            Editar Contato {{ editContato?.nome }}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                type="text"
                ngModel="{{ editContato?.nome }}"
                name="nome"
                class="form-control"
                id="nome"
                aria-describedby="emailHelp"
                placeholder="ex: Rick Astley"
              />
            </div>

            <input
              type="hidden"
              ngModel="{{ editContato?.id }}"
              name="id"
              class="form-control"
              id="id"
              placeholder="id"
            />
            <input
              type="hidden"
              ngModel="{{ editContato?.codContato }}"
              name="codContato"
              class="form-control"
              id="codContato"
              placeholder="cod"
            />

            <div class="form-group">
              <label for="perfil">Perfil</label>
              <input
                type="text"
                ngModel="{{ editContato?.perfil }}"
                name="perfil"
                class="form-control"
                id="perfil"
                placeholder="ex: Servidor"
              />
            </div>

            <div class="form-group">
              <label for="siglaComarca">Sigla</label>
              <input
                type="text"
                ngModel="{{ editContato?.siglaComarca }}"
                name="siglaComarca"
                class="form-control"
                id="siglaComarca"
                placeholder="ex: CTJ"
              />
            </div>

            <div class="form-group">
              <label for="nomeComarca">Comarca</label>
              <input
                type="text"
                ngModel="{{ editContato?.nomeComarca }}"
                name="nomeComarca"
                class="form-control"
                id="nomeComarca"
                placeholder="ex: Várzea Grande"
              />
            </div>

            <div class="form-group">
              <label for="circuito">Circuitos</label>
              <input
                type="text"
                ngModel="{{ editContato?.circuito }}"
                name="circuito"
                class="form-control"
                id="circuito"
                placeholder="ex: CBA 0465000 (OI) ou VAZ054457918A (BRDIGITAL) "
              />
            </div>

            <div class="form-group">
              <label for="numero">Contatos</label>
              <input
                type="text"
                ngModel="{{ editContato?.numero }}"
                name="numero"
                class="form-control"
                id="numero"
                placeholder="ex: (00) 9 99998888 ou 3617-3900"
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                id=""
                data-dismiss="modal"
                class="btn btn-secondary"
              >
                Fechar
              </button>
              <button
                (click)="onUpdateContato(editForm.value)"
                data-dismiss="modal"
                class="btn btn-info"
              >
                Salvar alterações
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Excluir - Modal -->
  <div
    class="modal fade"
    id="deleteContatoModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Excluir Contato</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Tem certeza de que deseja excluir contato {{ deleteContato?.nome }}?
          </p>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Não
            </button>
            <button
              (click)="onDeleteContato(deleteContato?.id!)"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Sim
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notificação para nenhum contato -->
<div *ngIf="contatos?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">SEM CONTATOS!</h4>
    <p>Nenhum contato foi encontrado.</p>
  </div>
</div>
